body, html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    height: 5%;
}

.content > *, .header, .footer {
    padding-left: 15%;
    padding-right: 15%;
}

button {
    color: white;
    background-color: #3882f6;
    border: 1px;
    margin: 0;
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-weight: 800;
}

img {
    width: 50%;
}

.header {
    background-color: #1F2937;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.herocontainer {
    padding-top: 100px;
    background-color: #1F2937;
    display: flex;
    gap: 20px;
}

.herocontainer > * {
    color: white;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.description {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    color: #e5e7eb
}

.herotext {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer{    
    background-color: #1F2937;
    color: #e5e7eb ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.content > * {
  flex: 1;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 240px;
    padding-right: 240px;
    text-align: justify;
}

.author {
    font-size: 16px;
    color: #1f2937;
    font-weight: 800;
    text-align: right;
}

.middle {
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.unit {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.legend {
    text-align: center;
    color: #1f2937;
    padding-top: 8px;
}

.box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    display: inline;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: 1000;
    font-size: 24px;
    color: #f9faf8;
}