body, html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    height: 5%;
}

.content > *, .header, .footer {
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    color: #f9faf8;
}

button {
    color: white;
    background-color: #3882f6;
    border: 1px;
    margin: 0;
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-weight: 800;
}

img {
    width: 50%;

}

.header {
    background-color: #1F2937;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.herocontainer {
    padding: 100px 15%;
    background-color: #1F2937;
    display: flex;
    gap: 20px;
}

.herocontainer > * {
    color: white;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.herotext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer{    
    background-color: #1F2937;
    color: #e5e7eb ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 60px;
    flex-shrink: 0;
}

.content > * {
  flex: 1;
}

.quotebox {
    background-color: #e5e7eb;
    padding: 100px 250px;
}

.quote {
    font-size: 36px;
    font-weight: 0;
    font-style: italic;
    color: #1f2937;
}

.author {
    padding-top: 10px;
    font-size: 20px;
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

.middle {
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
    flex-grow: 0;
}

.unit {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
}

.legend {
    text-align: center;
    color: #1f2937;
    padding-top: 8px;
    font-size: 12px;
}

.box {
  width: 120px;
  height: 120px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    display: inline;
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 20px;
    color:#f9faf8;
    font-weight: 800;
}

.subheading {
    color:#e5e7eb;
}

.final {
    padding: 80px 300px;
}

.banner {
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    border-radius: 6px;
    height: 30px;
    flex-grow: 0;
}

.banner button{
    outline: 2px solid white;
}

