body, html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    height: 5%;
}

.content > *, .header, .footer {
    padding-left: 15%;
    padding-right: 15%;
}

button {
    color: white;
    background-color: #3882f6;
    border: 0;
    margin: 0;
    width: 90px;
}

img {
    width: 50%;
}

.header {
    background-color: #1F2937;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.herocontainer {
    background-color: #1F2937;
    display: flex;
}

.herocontainer > * {
    color: white;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}

.herotext {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer{    
    background-color: #1F2937;
    color: #e5e7eb ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.content > * {
  flex: 1;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    display: inline;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: 1000;
    font-size: 24px;
    color: #f9faf8;
}